@font-face {
    font-family: Minecraftia-Regular;
    src: url(../FONT/Minecraftia-Regular.ttf);
 }
#teclas {
    opacity: 0;
    position: absolute; /* Esconde o texto inicialmente */
    font-size: 50px;
    font-family: Minecraftia-Regular;
    color: #f6ff00;
    text-align: center;
    margin-left: 200px;
    margin-top: -520px;
    transition: opacity 4s; /* Transição suave de 2 segundos */
    z-index: 3;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
}
#X {
    opacity: 0; /* Comece com a opacidade em 0 para esconder a imagem */
    transition: opacity 2s ease; /* Transição suave de 0.5 segundos */
    position: absolute;
    margin-top: 640px;
    margin-left: 650px;
    z-index: 2;
}
#volumeControl{
    position: absolute;
    margin-top: -240px;
    transform: rotate(90deg); /* Equal to rotateZ(45deg) */
    margin-left: -90px;
    z-index: 5;
}

#som {
    position: absolute;
    margin-top: -340px;
    margin-left: 20px;
    z-index: 7;
   
}